@page "/Register"
@layout AuthLayout
@attribute [AllowAnonymous]

<EditForm Model="@_registerUserModel" OnValidSubmit="SubmitAsync">
    <div class="d-flex justify-center">
        <MudImage Src="logo.png" Width="450" ObjectFit="ObjectFit.Fill" />
    </div>
    <div class="d-flex justify-center">
        <MudText Typo="Typo.h5">Register a new account</MudText>
    </div>
    <MudDivider Class="my-8" />
    <MudGrid>
        <MudItem  xs="12" md="6">
            <MudTextField For="@(() => _registerUserModel.UserName)" @bind-Value="_registerUserModel.UserName" Label="User Name" />
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudTextField For="@(() => _registerUserModel.FullName)" @bind-Value="_registerUserModel.FullName" Label="Full Name" />
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudTextField T="string" Label="E-mail" @bind-Value="_registerUserModel.Email" For="@(() => _registerUserModel.Email)" />
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudTextField T="string" Label="Phone Number" @bind-Value="_registerUserModel.PhoneNumber" For="@(() => _registerUserModel.PhoneNumber)" />
        </MudItem>
        <MudItem  xs="12" sm="6" md="6">
            <MudTextField For="@(() => _registerUserModel.Password)" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" @bind-Value="_registerUserModel.Password" Label="Password" />
        </MudItem>
        <MudItem  xs="12" sm="6" md="6">
            <MudTextField For="@(() => _registerUserModel.ConfirmPassword)" InputType="InputType.Password" @bind-Value="_registerUserModel.ConfirmPassword" Label="Confirm Password" />
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudTextField T="string" Label="City" @bind-Value="_registerUserModel.City" For="@(() => _registerUserModel.City)" />
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudDatePicker Label="Date Of Birth" @bind-Value="_registerUserModel.DateOfBirth" For="@(() => _registerUserModel.DateOfBirth)">
                <PickerActions Context="picker">
                    <MudButton OnClick="() => picker.Clear()">Cancel</MudButton>
                    <MudButton OnClick="(() => picker.Close()" Variant="Variant.Filled" Color="Color.Primary">Ok</MudButton>
                </PickerActions>
            </MudDatePicker>
        </MudItem>
        <MudItem  xs="12" md="6">
            <MudTextField T="string" Label="Country" @bind-Value="_registerUserModel.Country" For="@(() => _registerUserModel.Country)" />
        </MudItem>
        <MudItem  xs="12" Class="d-flex justify-center">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Register</MudButton>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-8" />
    <div class="d-flex justify-center">
        <MudText>Already have an account? <MudLink Href="/login">Sign In</MudLink></MudText>
    </div>
</EditForm>