@using Infinite.Shared.Requests
@using Infinite.Shared.Responses
@using Infinite.Client.Extensions
<h3>Your Profile</h3>
@if (_loaded)
{
    <EditForm Model="Model" OnValidSubmit="SubmitAsync">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <InputText class="form-control" @bind-Value="@Model.Email" disabled/>
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <InputText class="form-control" @bind-Value="@Model.Name"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <InputText class="form-control" @bind-Value="@Model.FullName"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Mobile</label>
            <InputText class="form-control" @bind-Value="@Model.Mobile"/>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <InputText class="form-control" @bind-Value="@Model.City"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Country</label>
            <InputText class="form-control" @bind-Value="@Model.Country"/>
        </div>
        <div class="mb-3">
            <label class="form-label">About Me</label>
            <InputText class="form-control" @bind-Value="@Model.AboutMe"/>
        </div>
        <div class="mb-3">
            <label class="form-label">Status</label>
            <InputText class="form-control" @bind-Value="@Model.Status"/>
        </div>
        <div class="d-flex flex-row-reverse">
            <Button Type="ButtonType.Submit" BackgroundColor="TablerColor.Primary">Save Details</Button>
        </div>
    </EditForm>
}
else
{
    <Progress Size="ProgressSize.Small" Indeterminate Color="TablerColor.Secondary"></Progress>
}

@code
{
    private UpdateUserProfileInfoRequest Model { get; set; } = new();
    private bool _loaded;

    protected override async Task OnInitializedAsync()
    {
        var result = await HttpClient.GetFromJsonAsync<Result<UserProfileInfoResponse>>("api/manage/profileInfo");
        if (result!.Succeeded)
        {
            var response = result.Data;
            Model = new UpdateUserProfileInfoRequest()
            {
                Email = response.Email,
                AboutMe = response.AboutMe,
                City = response.City,
                Country = response.City,
                DateOfBirth = response.DateOfBirth,
                FullName = response.FullName,
                Name = response.Name,
                Status = response.Status
            };
        }
        else
        {
            foreach (var message in result.Messages)
            {
                await ToastService.AddToastAsync(new ToastModel("Error", "Update Profile", message));
            }
        }
        await base.OnInitializedAsync();
        _loaded = true;
    }

    private async Task SubmitAsync()
    {
        var response = await HttpClient.PostAsJsonAsync("api/manage/profileInfo", Model);
        var result = await response.ToResult();
        if (result.Succeeded)
        {
            await ToastService.AddToastAsync(new ToastModel("Success", "Update Profile", "Updated Profile Info successfully!"));
            NavigationManager.NavigateTo("/Personal");
        }
        else
        {
            foreach (var message in result.Messages)
            {
                await ToastService.AddToastAsync(new ToastModel("Error", "Update Profile", message));
            }
        }
    }
}
